.bg-default{

  }
.bg-dark{
  transition: all 1s ease;
  background-color: black;
  opacity: 1;           /*0.5 determines transparency value*/
  filter:(opacity=0);
}
.mensaje {
 position: absolute;
 left: 60%;
 right: 0;
 top: 60%;
 margin: 0 auto;
 z-index: 9999999;

}
.contenedor{
width: 90%;
background-color: #6E6C6C;
border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-webkit-border-radius: 3px 3px 3px 3px;

opacity: 0.9;           /*0.5 determines transparency value*/
filter:(opacity=20);

}
.contiene{
padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
}
